@using Chess.Models
@model IEnumerable<Chess.Models.HistoryEntry>
    
<script src="/Scripts/app/spinner.js" type="text/javascript"></script>
<script src="/Scripts/app/boardviewer.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/Scripts/app/viewer.css"/>
<script src="/Scripts/app/chessboard-0.3.0.js"></script>
<link rel="stylesheet" type="text/css" href="/Scripts/app/chessboard-0.3.0.css"/>

@{
        ViewBag.Title = "History";
        var maxMoves = @Model.Count();
        var currentHistoryEntry = @Model.First(historyEntry => historyEntry.MoveNumber == Math.Max(1, Math.Min(maxMoves, ViewBag.MoveNumber)));
        var breakCharacters = new char[1];
        breakCharacters[0] = ' ';
        var description = currentHistoryEntry.Description();
    }

    <script>
        $(document).ready(function () {
            lastMove = @maxMoves;
            var cfg = { pieceTheme: '/Images/{piece}.png', position: '', showNotation: false };
            board = new ChessBoard('board', cfg);
            renderMoves();
            board.position(positions[0].fen);

            if (location.hash.length != 0) {
                updateBoard(parseInt(location.hash.substring(1)));
            } else {
                updateBoard(0);
            }

            $('#title').text('@description');
            PopulateMovesBox();
            ConfigureActionButtons();
            });
    </script>

    <script>
        function playFromHere() {
            window.location = "/History/PlayFromHere?move=" + currentMove + "&gameId=" + @currentHistoryEntry.GameId;
        }

    </script>

    <script>
        var positions = new Array(@Model.Count());
        var i = 0;

        function renderMoves() {
            @foreach (var data in @Model.Select(x => new {Fen = x.Fen.Split(new[] {' '})[0], Move = x.Move}))
            {
                <text>positions[i++] = { "Fen" : '@data.Fen', "Move" : '@data.Move'} ;</text>
            }
        }
    </script>

<div id="main">
    <p id="errors"></p>
    <div class="left">
        <p class="title">&nbsp;</p>
        <div id="scrollbox"><table id="moves"></table>
        </div>
    </div>

    <div class="left">
        <p class="title" id="title"></p>
        <div id="board"></div>
        <div class="navigation">
            <div class="wrapper"><span class="button" id="goStart"></span></div>
            <div class="wrapper"><span class="button" id="goBack"></span></div>
            <div class="wrapper"><span class="button" id="goFlip"></span></div>
            <div class="wrapper"><span class="button" id="goEnd"></span></div>
            <div class="wrapper"><span class="button" id="goForward"></span></div>
        </div>
    </div>
</div>

<div>
    @if (Request.IsAuthenticated && currentHistoryEntry.IsParticipant(HttpContext.Current.User.Identity.Name))
    {
        <a class="asbutton" href="javascript:playFromHere();">Play from here</a>
    } |
    @Html.ActionLink("Back to list of games", "Index", "Board")
</div>

