@model RedChess.WebEngine.Repositories.IGameBinding

@{
    ViewBag.Title = "Game";
}

<script src="/Scripts/jquery.cookie.js"></script>
<script src="/Scripts/jquery.signalR-2.1.0.min.js" type="text/javascript"></script>
<script src="/signalr/hubs"></script>
<script src="/Scripts/app/spinner.js" type="text/javascript"></script>
<script src="/Scripts/app/chess.js" type="text/javascript"></script>
<script src="/Scripts/app/chessboard-0.3.0.js"></script>
<link rel="stylesheet" type="text/css" href="/Scripts/app/chessboard-0.3.0.css" />

<style type="text/css">
    .highlight-white {
        -webkit-box-shadow: inset 0 0 3px 3px yellow;
        -moz-box-shadow: inset 0 0 3px 3px yellow;
        box-shadow: inset 0 0 3px 3px yellow;
    }

    .highlight-black {
        -webkit-box-shadow: inset 0 0 3px 3px blue;
        -moz-box-shadow: inset 0 0 3px 3px blue;
        box-shadow: inset 0 0 3px 3px blue;
    }
</style>

@{
    var shouldLock = @Model.ShouldLockUi;
    var myClock = @Model.Clock;
}

<script type="text/javascript">
    gameId = @Model.GameId;
    currentPlayerColor = '@Model.CurrentPlayerColor(@User.Identity.Name)';

    $(document).ready(function() {
        DocumentReady();
        UpdateUi('@Model.Fen');

        // Draw any user messages, and update the set of taken pieces
        @if (!String.IsNullOrEmpty(@Model.Status))
        {
            <text>
                $("#messages").text('@Model.Status');
                $("#messages").parent().css('visibility', 'visible');
            </text>
        }
        else
        {
            <text>
                $("#messages").html('&nbsp;');
                $("#messages").parent().css('visibility', 'hidden');
            </text>
        }

        $("#lastmove").text('@Model.LastMove');
        UpdateTakenPieces('@Model.Fen');

        @if (Model.MayClaimDraw) {
            <text>$('#drawbutton').show()</text>
        }

        @if (Model.GameOver)
        {
            <text>EndGame();</text>
        }
        

        @if (shouldLock)
        {
            <text>LockBoard();</text>
        }
    });
</script>  

 @if (!Request.IsAuthenticated)
 {
     <text><div>You must be <a href="/">logged in</a> to participate in games.</div></text>
 }

<div class="row">
    <div class="col-md-7">
        <h2 id="title">@Model.Description</h2>
        <div style="width: 512px; margin-bottom: 10px" id="board"></div>
        
        <div class="btn-group" role="group">
                <a class="btn btn-default" id="resignbutton" onclick=" Resign(); ">Resign</a>
                <a class="btn btn-default" id="drawbutton" onclick=" ClaimDraw(); ">Claim draw</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="alert alert-danger" role="alert">
            <div id="messages" style="text-align: center">&nbsp;</div>
        </div>
        <div id="submitmove">
            @using (Html.BeginForm("PlayMove", "Board", FormMethod.Post))
            {
                var items = new List<SelectListItem>
                {
                    new SelectListItem {Value = "Queen", Text = "Queen"},
                    new SelectListItem {Value = "Rook", Text = "Rook"},
                    new SelectListItem {Value = "Knight", Text = "Knight"},
                    new SelectListItem {Value = "Bishop", Text = "Bishop"},
                };

                @Html.Hidden("Start")
                @Html.Hidden("End")
                @Html.DropDownList("Promote", items, false)
                @Html.AntiForgeryToken()
                <input type="submit" value="Submit" id="submitbutton" class="buttonlink"/>
            }

            @if (myClock != null)
            {
                @Html.Partial("_Clock", myClock)
                <text>
                    <script src="/Scripts/app/clock.js" type="text/javascript"></script>
                    <script>
                        var myClock = new Clock(@Model.GameId, @myClock.TimeLimitMs, '@Model.CurrentPlayerColor(@User.Identity.Name)');
                        isTimedGame = true;
                        $(document).ready(function() {
                            myClock.ClockDocumentReady();
                        });
                    </script>
                </text>
            }

            <div class="well">
                <div id="lastmove"></div>
                <div id="turnindicator"></div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="blacktaken" style="font-size: 36pt;"></div>
                    <div id="whitetaken" style="font-size: 36pt;"></div>
                </div>
            </div>
        </div>
    </div>
</div>


