@model IEnumerable<Chess.Models.BoardDto>

@{
    ViewBag.Title = "Index of games";
}

<h2>Index of games</h2>

 @if (Request.IsAuthenticated)
 {
	 <p>
		 @Html.ActionLink("New Game", "Create")
	 </p>
 }
 else
 {
	 <p> 
		 You need to be logged in to create new games.<br />
		 <a href="/">Login</a>
	 </p>
 }

<link rel="stylesheet" type="text/css" href="/Scripts/app/chessboard-0.3.0.css"/>
<script src="/Scripts/app/chessboard-0.3.0.js"></script>

<script>
    $(document).ready(function () {
        $("time.timeago").timeago();

        $("div.miniboard").each(function (index, element) {
            var originalText = element.innerText;
            if (originalText == null) {
                originalText = element.innerHTML;
            }

            var cfg = { pieceTheme: '/Images/{piece}.png', position: originalText, showNotation: false };
            var board = new ChessBoard(element, cfg);
        });
    });

    function GoToGame(id) {
        document.location.href = "/Board/Details/" + id;
    }
</script>
<table style="padding-left: 50px">
	<tr>
		<th></th>
	</tr>  
	@if (Request.IsAuthenticated)
 {
		<tr><td><h3>My current games</h3></td></tr>
     foreach (var item in @Model.Where(x => x.CurrentPlayerColor(HttpContext.Current.User.Identity.Name) != "" && !x.GameOver))
     {
			<tr>
                <td>
				<div class="miniboard" id="m-@item.GameId" style="width: 300px" onclick="GoToGame(@item.GameId)">@item.Fen</div>
                </td>
                @{
                    var iso8601datetime = item.CreationDate.ToString("o", System.Globalization.CultureInfo.InvariantCulture);
                }
			    <td>@item.Status<br/><time class="timeago" datetime="@iso8601datetime">Started @item.CreationDate UTC</time></td>
			</tr>
     <tr>
         <td>@item.Description</td>
		 <td>@Html.ActionLink("Delete", "Delete", new { id = item.GameId }) | @Html.ActionLink("History", "ShowMove", "History", new { gameId = item.GameId, moveNumber = 1 }, null)</td>
     </tr>
     }
        		<tr><td><h3>My finished games</h3></td></tr>
     foreach (var item in @Model.Where(x => x.CurrentPlayerColor(HttpContext.Current.User.Identity.Name) != "" && x.GameOver).OrderByDescending(x => x.CreationDate))
     {
			<tr>
			    <td>
			        <div class="miniboard" id="f-@item.GameId" style="width: 150px" onclick="GoToGame(@item.GameId)">@item.Fen</div>
			    </td>
                @{
                    var iso8601datetime = item.CompletionDate.ToString("o", System.Globalization.CultureInfo.InvariantCulture);
                }
			    <td>@item.Status<br/><time class="timeago" datetime="@iso8601datetime">Started @item.CreationDate UTC, finished @item.CompletionDate UTC</time></td>
			</tr>
     <tr>
         <td>@item.Description</td>
		 <td>@Html.ActionLink("Delete", "Delete", new { id = item.GameId }) | @Html.ActionLink("History", "ShowMove", "History", new { gameId = item.GameId, moveNumber = 1 }, null)</td>
     </tr>
     }
 }
</table>

<table style="padding-left: 50px">
		<tr><td><h3>Other games</h3></td></tr>
		@foreach (var item in @Model.Where(x => x.CurrentPlayerColor(HttpContext.Current.User.Identity.Name) == ""))
  {
			<tr>
                <td>
				<div class="miniboard" id="o-@item.GameId" style="width: 300px" onclick="GoToGame(@item.GameId)">@item.Fen</div>
                </td>
                <td>@item.Status</td>
			</tr>
           <tr>
			   <td>@item.Description</td>
               		 <td>@Html.ActionLink("History", "ShowMove", "History", new { gameId = item.GameId, moveNumber = 1 }, null)</td>
     </tr>
  }
</table>

