@using System.Web.Mvc.Html
@model Chess.Models.PgnModel

@{
    ViewBag.Title = "PGN parser";
}

<script src="/Scripts/app/chessboard-0.3.0.js"></script>
<link rel="stylesheet" type="text/css" href="/Scripts/app/chessboard-0.3.0.css"/>
<link rel="stylesheet" type="text/css" href="/Scripts/app/viewer.css"/>
    
<script>
    var board;
    var lastMove = @Model.FenPositions.Count() ; // Total number of moves in the game
    var currentMove = 0;

    function clickText() {
        $("#m" + currentMove).removeClass("highlightText");
        $(this).addClass("highlightText");
        currentMove = parseInt(this.id.substr(1));
        updateBoard(currentMove);
    }

    $(document).ready(function() {
        // display the first div by default.
        $("#accordion div").first().height($("#textarea").height());

        $( "#createForm" ).submit(function() {
            return ($("#textarea").val().length > 0);
        });

        $("#submitbutton").click(function() {
            $("#createForm").submit();
        });

        // Get all the links.
        var link = $("#accordion a");

        // On clicking of the links do something.
        link.on('click', function(e) {
            e.preventDefault();

            var a = $(this).attr("href");

            if($(a).is(':hidden')) {
                $(a).slideDown('fast');
            }
            else {
                $(a).slideUp('fast');
            }

            $("#accordion div").not(a).slideUp('fast');    
        });

        $("#main").hide();
        if (lastMove == 0)
            return;
        $("#main").show();

        var cfg = { pieceTheme: '/Images/{piece}.png', position: '', showNotation: false };
        board = new ChessBoard('board', cfg);
        renderMoves();
        board.position(positions[0].fen);
        updateBoard(0);

        var moveNumber = 1;
        for (i = 1; i < lastMove; i+=2) {
            var originalI1 = i;
            var originalI2 = i + 1;

            var text = "<tr><td class=\"movenumber\">" + moveNumber++ + ".</td><td id=\"m" + originalI1 + "\">" + positions[originalI1].move + "</td> ";
            if(originalI2 < lastMove) {
                text += "<td id=\"m" + originalI2 + "\">" + positions[originalI2].move + "</td>";
            }
            text += "</tr>";

            $("#moves").append(text);

            $("#m" + originalI1).on("click", clickText);
            $("#m" + originalI2).on("click", clickText);
        }

        $("span.button").mouseover(function () {
            $(this).parent().fadeTo(40, 1.0);
        }).mouseout(function () {
            $(this).parent().fadeTo(40, 0.7);
        });

        $("#goForward").on("click", function () {
            if (currentMove == lastMove - 1) return;
            updateBoard(currentMove + 1);
            $("#m" + currentMove).removeClass("highlightText");
            currentMove++;
            $("#m" + currentMove).addClass("highlightText");
        });

        $("#goBack").on("click", function () {
            if (currentMove == 0) return;
            updateBoard(currentMove - 1);
            $("#m" + currentMove).removeClass("highlightText");
            currentMove--;
            $("#m" + currentMove).addClass("highlightText");
        });

        $("#goStart").on("click", function () {
            updateBoard(0);
            $("#m" + currentMove).removeClass("highlightText");
            currentMove = 0;
            $("#m" + currentMove).addClass("highlightText");
        });

        $("#goEnd").on("click", function () {
            updateBoard(lastMove-1);
            $("#m" + currentMove).removeClass("highlightText");
            currentMove = lastMove-1;
            $("#m" + currentMove).addClass("highlightText");
        });
    });
</script>

<div id="accordion">
    <a href="#one" class="pgn-header">Enter PGN<span class="buttonright"><input type="submit" value="Submit" id="submitbutton"/></span></a>
    <div id="one">
        @using (Html.BeginForm("Create", "Pgn", FormMethod.Post, new {id = "createForm"}))
        {
            @Html.AntiForgeryToken()
            <textarea rows="12" id="textarea" name="pgnText">@Model.PgnText</textarea>
        }
    </div>
</div>

        @foreach (var error in @Model.ErrorText)
        {
            <p>@error</p>
        }
        
<script>
    var positions = new Array(@Model.FenPositions.Count);
    var i = 0;

    function renderMoves() {
        @foreach (var data in @Model.FenPositions.Select(x => new { Fen = x.Fen.Split(new char[] {' '})[0], Move = x.Move }))
        {
            <text>positions[i++] = { "fen" : '@data.Fen', "move" : '@data.Move'} ;</text>
        }
    }

    function updateBoard(newMove) {
        $("span#goBack").show();
        $("span#goForward").show();

        if (newMove == 0) {
            $("span#goBack").hide();
        }

        if (positions[newMove+1] == null) {
            $("span#goForward").hide();
        }

        board.position(positions[newMove].fen);
    }
</script>
            
<div id="main">
    <div class="left">
        <p class="title">&nbsp;</p>
        <div id="scrollbox"><table id="moves"></table></div>
    </div>

    <div class="left">
        <p class="title">@Model.Tags["White"] vs @Model.Tags["Black"]</p>
        <div id="board"></div>
        <div class="navigation">
            <div class="wrapper"><span class="button" id="goStart"></span></div>
            <div class="wrapper"><span class="button" id="goBack"></span></div>

            <div class="wrapper"><span class="button" id="goEnd"></span></div>
            <div class="wrapper"><span class="button" id="goForward"></span></div>
        </div>
    </div>
</div>

@section Scripts {
 @Scripts.Render("~/bundles/jqueryval")
}
