@model Chess.Models.LocalPasswordModel
@{
    ViewBag.Title = "Change password";
}

<header>
    <h1>@ViewBag.Title</h1>
</header>

<div>
    <p class="message-success">@ViewBag.StatusMessage</p>

  <section>
    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }
    </section>
</div>

<p>@Html.ActionLink("Back to main page", "Index", "Home")</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}