<script>
     $(document).ready(function() {
         getSpinController().stopLogoSpinner();

         if ($('#avatar').length !== 0) { // Do we have an avatar div to populate?
             if (typeof (Storage) !== "undefined") { // Do we have local storage capability?
                 var avatarUrl = localStorage.getItem("AvatarUrl");

                 if (avatarUrl == null) { // Does the local storage have the data we want?
                     $.getJSON("/api/Avatar").done(function(d) { // Boo, we have to get the date via a POST
                         localStorage.setItem("AvatarUrl", d);
                         setAvatar(d);
                     });
                 } else {
                     setAvatar(avatarUrl); // Yay, we found the url in the local storage
                 }
             } else {
                 $.getJSON("/api/Avatar").done(setAvatar); // No local storage => make the request and don't try to store it
             }
         } else {
             localStorage.removeItem("AvatarUrl"); // No div to populate => user is logged out
         }

         function setAvatar(avatarUrl) {
             $('#avatar').css({ "background-image": "url(" + avatarUrl + ")", "background-repeat": "no-repeat", "border-radius" : "0.2rem" });
         }
     });
 </script>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                @if (Request.IsAuthenticated)
                {
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                }
            </button>
            <a class="navbar-brand" style="padding-top: 9px;padding-bottom: 9px">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <div>
                            <img alt="logo" src="~/Images/bN.png" height="28" width="28" style="max-width: 100px; margin-right: 14px; margin-top: 2px; margin-bottom: 2px"/>
                            <div style="position: absolute; margin-left: 14px; margin-top: -16px;" id="redchess-logo"></div>
                        </div>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <div style="height: 32px; line-height: 32px;">
                                @HttpContext.Current.User.Identity.Name
                            </div>
                        </li>
                        <li>
                            <div id="avatar" style="width: 32px; height: 32px; margin-left: 8px;"></div>
                        </li>
                    }
                </ul>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated)
                {
                    <li>
                        @Html.ActionLink("New game", "Create", "Board")
                    </li>
                    <li>
                        @Html.ActionLink("My games", "Index", "Board")
                    </li>
                }
                else
                {
                    <li>
                        @Html.ActionLink("Current games", "Index", "Board")
                    </li>
                }

                <li>
                    @Html.ActionLink("PGN viewer", "", "Pgn")
                </li>

                <li>
                    @Html.ActionLink("Stats", "Stats", "Home")
                </li>

                @if (Request.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                @Html.ActionLink("My account", "Manage", "Account", routeValues: new {area = ""}, htmlAttributes: new {title = "Logged on as " + HttpContext.Current.User.Identity.Name})
                            </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>

    @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }
</nav>


